$l = 'screen and (max-width: 1180px)'
$m = 'screen and (max-width: 1024px)'
$s = 'screen and (max-width: 880px)'
$xs = 'screen and (max-width: 480px)'


//$c1 = #ff5a64//0%,
$c1 = #ff6600;
$c1 = #203b63;


$c2 = #E4021F;