@import "components/variables"
@font-face {
  font-family: 'GOSTUI2';
  src: url("../fonts/GOSTUI2-Regular.eot");
  src: url("../fonts/GOSTUI2-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/GOSTUI2-Regular.woff") format('woff'), url("../fonts/GOSTUI2-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'GOSTUI2';
  src: url("../fonts/GOSTUI2-Medium.eot");
  src: url("../fonts/GOSTUI2-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/GOSTUI2-Medium.woff") format('woff'), url("../fonts/GOSTUI2-Medium.ttf") format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'GOSTUI2';
  src: url("../fonts/GOSTUI2-Bold.eot");
  src: url("../fonts/GOSTUI2-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/GOSTUI2-Bold.woff") format('woff'), url("../fonts/GOSTUI2-Bold.ttf") format('truetype');
  font-weight: 700;
}
