.footer 
    .footer__overlay
    .footer__inner 
        .subline Связаться с нами
        a.footer__link(href="tel:+79607088383") +7 960 708 83 83
        a.footer__link(href="mailto:tverstroi.groups@mail.ru") tverstroi.groups@mail.ru 
        a.footer__link(href="https://api.whatsapp.com/send?phone=79607088383")
            svg(width="20" height="20"): use(xlink:href="f/i/icons.svg#i-whatsapp")
            | WhatsApp
        a.footer__link.show-modal(href="#details") Реквизиты

.modal-bg
.modal
    .modal__x
    table 
        thead 
            th(colspan="2") Реквизиты
        tr 
            td(width="35%") Название компании	
            td(width="65%") ИП Веранян Н. А.
        tr 
            td ИНН
            td 695006801338
        tr 
            td ОГРНИП
            td 319695200058520
        tr 
            td Расчетный счет
            td 40802810663000012227
        tr 
            td Банк
            td ТВЕРСКОЕ ОТДЕЛЕНИЕ N8607 ПАО СБЕРБАНК
        tr 
            td БИК
            td 042809679
        tr 
            td Корр. счет
            td 30101810700000000679
        tr 
            td Адрес
            td 170002, Тверь г, Макарова ул, дом 89
        tr 
            td email 
            td: a(href="mailto:tverstroi.groups@mail.ru") tverstroi.groups@mail.ru
