.header
    .header__inner
        a.header__link(href="https://api.whatsapp.com/send?phone=79607088383")
            svg(width="20" height="20"): use(xlink:href="f/i/icons.svg#i-whatsapp")
            | WhatsApp
        .header__logo
            img.header__logo-img(src="f/i/logo1.svg")
        a.call(href="tel:+79607088383")
            .call__icon
                img(src="f/i/phone.svg")
            .call__text +7 960 708 83 83
