.header.fixed
    .header__inner
        //.header__logo
            img.header__logo-img(src="f/i/logo.svg")
            .header__logo-text
                .header__logo-title ТверьСтройГрупп
                .header__logo-subtitle Строительство в лучшем виде
        .header__logo
            img.header__logo-img(src="f/i/logo2.svg")
        .header__right 
            a.call(href="tel:+79607088383")
                .call__icon
                    img(src="f/i/phone.svg")
                .call__text +7 960 708 83 83
            //a.whatsapp(href="#")
                img(src="f/i/whatsapp.svg")
